


body {
	background-color: #1b1b25
	 }




}

  
#name { text-align: center;


}

#header{ 	text-align: center;
		color: white;
		font-family: "Optima", sans serif;

		


}





#education { 	color: white;
		font-family: "Optima", sans serif;
		padding-left: 40px;
		padding-top: 20px;
		
		
}






#work   { 	color: white;
		font-family: "Optima", sans serif;
		text-align: left;
		padding-top: 10px;	
		padding-left: 40px;
}

#beauty {	padding-bottom: 20px;


}

#cleaning {	padding-bottom: 30px;